
html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  background-color:white;
}

.k-style{
  font-family: 'Major Mono Display', monospace;
}

header{
  top:40px;
  position:fixed;
  z-index: 1;
  margin:0 auto;
  left:50%;
  transform:translate(-50%,0);
  width:70vw;
}


.header-name{
  margin-right:50px;
}

header ul li{
  background-color:none;
  list-style:none;
  font-family: 'Ubuntu', sans-serif;
  font-weight:800;
  font-size:16px;
  display:inline;
  margin:0 20px;
  letter-spacing:2px;
  padding:2px;
}

a{
  text-decoration:none;
  color:black;
}

header ul li:hover{
  text-decoration:line-through;
}

.self-intro{
  font-family: 'Ubuntu', sans-serif;
  font-size:50px;
  font-weight:600;
  margin-left:65px;
  margin-top:280px;
  margin-bottom:100px;
  line-height:55px;
  text-align:center;
  letter-spacing:3px;
  padding-bottom: 100px;
  padding-top:50px;
}

.self-intro a{
  background-color:white;
  border:2px solid black;
  padding:10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  margin-top:30px;
  font-size:20px;
  letter-spacing:2px;
}

.self-intro a:hover{
  cursor:pointer;
  text-decoration:line-through;
}

.project-container{
  margin-top:200px;
}

.project-1 , .project-3, .project-4, .project-5{
  text-align:center;
  width:100%;
  height:650px;
  margin:0;
  padding:40px;
}

.project-2{
  text-align:center;
  width:100%;
  height:1300px;
  margin:0;
  padding:40px;
}


.weatherAppScreenShot{
  width:400px;
  height:auto;
  padding: 0;
  margin:70px;
  transition: transform 0.5s;
}

.weatherAppScreenShot:hover{
  transform: scale(1.2);
}

.toDoListImg, .simonImg{
  width:30vw;
  height:auto;
  padding: 0;
  margin:70px;
  transition: transform 0.5s;
}

.simonImg{
  border-radius: 10%;
}

.toDoListImg:hover, .simonImg:hover{
  transform: scale(1.2);
}

.moodLogImg,.redesignImg{
  width:70vw;
  height: auto;
  padding: 0;
  margin: 70px;
  transition: transform 0.5s;
}

.moodLogImg:hover, .redesignImg:hover{
  transform:scale(1.55);
}


.project-1{
  background-color:rgba(170,211,233,0.5);
}

.project-2,.project-2-5{
  background-color: #f8e1f4;
}

.project-3{
  background-color:rgba(255,127,80,0.5);
}

.project-4{
  background-color:#f0cf85;
}

.project-5{
  background-color: #849561;
}

.app-title{
  font-family: 'Ubuntu', sans-serif;
  font-size:40px;
  font-weight:400;
  margin-bottom:0;
  letter-spacing:1px;
}

.app-description{
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  font-weight:600;
  margin:0;
  letter-spacing:1px;
}

@media only screen and (min-width: 1100px){

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  background-color:white;
}

.k-style{
  font-family: 'Major Mono Display', monospace;
}

header{
  margin:0 0;
  top:40px;
  position:fixed;
  z-index: 1;
  left:0;
  transform:translate(0,0)
}


.header-name{
  margin-right:50px;
}

header ul li{
  background-color:none;
  list-style:none;
  font-family: 'Ubuntu', sans-serif;
  font-weight:800;
  font-size:14px;
  display:inline;
  margin:0 20px;
  letter-spacing:2px;
  padding:2px;
}

a{
  text-decoration:none;
  color:black;
}

header ul li:hover{
  text-decoration:line-through;
}

.self-intro{
  font-family: 'Ubuntu', sans-serif;
  font-size:24px;
  font-weight:600;
  margin-left:65px;
  margin-top:280px;
  margin-bottom:100px;
  line-height:35px;
  text-align:center;
  letter-spacing:3px;
  padding-bottom: 100px;
  padding-top:50px;
}

.self-intro a{
  background-color:white;
  border:2px solid black;
  padding:10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  margin-top:30px;
  font-size:14px;
  letter-spacing:2px;
}

.self-intro a:hover{
  cursor:pointer;
  text-decoration:line-through;
}

.project-container{
  margin-top:200px;
}

.project-1 ,.project-2, .project-3, .project-4, .project-5{
  text-align:center;
  width:100%;
  height:650px;
  margin:0;
  padding:40px;
}

.weatherAppScreenShot{
  width:400px;
  height:auto;
  padding: 0;
  margin:70px;
  transition: transform 0.5s;
}

.weatherAppScreenShot:hover{
  transform: scale(1.2);
}

.toDoListImg, .simonImg{
  width:300px;
  height:auto;
  padding: 0;
  margin:70px;
  transition: transform 0.5s;
}

.simonImg{
  border-radius: 10%;
}

.toDoListImg:hover, .simonImg:hover{
  transform: scale(1.2);
}

.moodLogImg,.redesignImg{
  width:720px;
  height: auto;
  padding: 0;
  margin: 70px;
  transition: transform 0.5s;
}

.moodLogImg:hover, .redesignImg:hover{
  transform:scale(1.55);
}


.project-1{
  background-color:rgba(170,211,233,0.5);
}

.project-2{
  background-color: #f8e1f4;
}

.project-3{
  background-color:rgba(255,127,80,0.5);
}

.project-4{
  background-color:#f0cf85;
}

.project-5{
  background-color: #849561;
}

.app-title{
  font-family: 'Ubuntu', sans-serif;
  font-size:24px;
  font-weight:600;
  margin-bottom:0;
  letter-spacing:1px;
}

.app-description{
  font-family: 'Ubuntu', sans-serif;
  font-size:13px;
  font-weight:600;
  margin:0;
  letter-spacing:1px;
}

.project-2 div{
  display: inline-grid;
  margin: 0 50px;
}
}
